<app-nav-bar></app-nav-bar>

<body>
  <h1 id="titulo">
    Hola, soy Simon!
  </h1>
  <div id="contenedor">
    <button id="estudio" class=" estudio card trajeta col-3">
      <div class="card-body">
        <label for="estudio">Estudios</label>
      </div>
      <ul>
        <li>Escuela primaria numero 13 Almirante Guillermo Brown</li>
        <li>Escuela secundaria Jose Martí </li>
        <li></li>
    </ul>
    </button>
    <button id="trabajo" class="card trajeta col-3">
        <div class="card-body">
          <label for="trabajo">Trabajo</label>
        </div>
      </button>
  </div>
</body>
