<app-nav-bar></app-nav-bar>

<body>
  <h1 id="titulo">
    Hola, soy Simon!
  </h1>
  <div id="contenedor-principal" class="row col-6  ">
    <div id="contenedor">
      <div class="row">
        <div class="col-6">
             <div id="contenedor-estudio" class="col">
                <label for="estudio">Estudios</label>
             </div>
             <div id="contenedor-datos" class="col">
                 <ul>
                 <li>Escuela primaria numero 13 Almirante Guillermo Brown</li>
                 <li>Escuela secundaria Jose Martí </li>
                </ul>
             </div>
        </div>
     </div>
    </div>
    <div id="contenedor">
      <div class="row">
        <div class="col-6">
             <div id="contenedor-trabajo" class="col">
                <label for="trabajo">Trabajo</label>
             </div>
             <div id="contenedor-datos" class="col">
                 <ul>
                 <li>Pasantía en estudio contable Alejandra Figueroa</li>
                 <li>Empresa Newsan S.A Soporte IT</li>
                </ul>
             </div>
        </div>
     </div>
    </div>
  </div>
  

</body>