/*@mixin centrar{
    display: flex;
    justify-content: center;
    // align-items: center;
}
#titulo{
    @include centrar();
    // color: white;
}
.tarjeta{
    @include centrar();
    align-items: center;
    border: 2px solid;
    border-radius: 10px;
    margin: 10px;
    height: 200px;
    
}   */
#contenedor-principal{
    display: flex;
    flex-wrap: wrap;
    margin-top:80px;
    margin-left:25%;
    justify-content: space-between;
    align-items: center;
    
}

#contenedor{
    background-color:aliceblue;
    position: relative;
    text-align: center;
    width: 300px;
    height: 400px;
    background-size: cover;
    overflow: hidden;
    cursor: pointer;
    border-radius: 10px;
    
}

#contenedor #contenedor-estudios,
#contenedor #contenedor-datos{
    display: flex;
   
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
}

  #contenedor #contenedor-datos{
    margin:0;
    font-family: 'Pacifico', cursive;
  }


  #contenedor #contenedor-datos{
    flex-wrap: wrap;
    flex-direction: column;
    transform: translatey(100%);
    transition: all 0.7s;
  }
 
  #contenedor:hover #contenedor-datos{
    transform: translatey(0);
  }
  

#contenedor-datos{
    background-color: rgb(212, 238, 238);
    border-radius:20px;
}
